.sign-up-page {
  background-color: #f3dbb9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

.sign-up-page .overlap-group-wrapper {
  background-color: #f3dbb9;
  overflow: hidden;
  width: 1512px;
  height: 982px;
}

.sign-up-page .overlap-group {
  position: relative;
  width: 1515px;
  height: 997px;
  top: -12px;
  left: -3px;
}

.sign-up-page .frame {
  position: absolute;
  width: 403px;
  height: 866px;
  top: 0;
  left: 6px;
  overflow: hidden;
}

.sign-up-page .frame-wrapper {
  position: absolute;
  width: 100px;
  height: 1840px;
  top: 0;
  left: 0;
}

.sign-up-page .div {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.sign-up-page .ellipse {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: var(--white);
  border-radius: 50px;
}

.sign-up-page .rectangle {
  position: relative;
  width: 100px;
  height: 318px;
  background-color: var(--white);
  border-radius: 40px;
}

.sign-up-page .div-wrapper {
  position: absolute;
  width: 100px;
  height: 1840px;
  top: -1091px;
  left: 148px;
}

.sign-up-page .frame-2 {
  position: absolute;
  width: 100px;
  height: 1840px;
  top: 0;
  left: 296px;
}

.sign-up-page .rectangle-2 {
  position: absolute;
  width: 1512px;
  height: 131px;
  top: 866px;
  left: 0;
  background-color: #ffffff;
}

.sign-up-page .granolas {
  position: absolute;
  width: 734px;
  height: 603px;
  top: 22px;
  left: 3px;
  object-fit: cover;
}

.sign-up-page .millet-flour {
  position: absolute;
  width: 603px;
  height: 592px;
  top: 402px;
  left: 912px;
  object-fit: cover;
}

.sign-up-page .image {
  width: 464px;
  height: 464px;
  top: 40px;
  left: 1033px;
  position: absolute;
  object-fit: cover;
}

.sign-up-page .img {
  width: 289px;
  height: 370px;
  top: 624px;
  left: 1226px;
  position: absolute;
  object-fit: cover;
}

.sign-up-page .rectangle-3 {
  position: absolute;
  width: 526px;
  height: 638px;
  top: 130px;
  left: 496px;
  border-radius: 20px;
  border: 2px solid;
  border-color: #ffffff;
  backdrop-filter: blur(74px) brightness(100%);
  -webkit-backdrop-filter: blur(74px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgba(255, 253.09, 253.09, 0.07) 0%,
    rgba(255, 253.09, 253.09, 0.04) 12.12%,
    rgba(255, 253.09, 253.09, 0.05) 25.46%,
    rgba(255, 253.09, 253.09, 0.01) 48.82%,
    rgba(255, 253.09, 253.09, 0.03) 68.9%,
    rgba(255, 253.09, 253.09, 0) 82.71%,
    rgba(255, 253.09, 253.09, 0) 100%
  );
}

.sign-up-page .text-wrapper {
  position: absolute;
  width: 60px;
  top: 702px;
  left: 851px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #192c44;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up-page .text-wrapper-2 {
  position: absolute;
  width: 204px;
  top: 189px;
  left: 653px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #192c44;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.rectangle-5:hover, .text-wrapper-7:hover, .rectangle-4:hover, .line-2:hover, .text-wrapper-4:hover, #google:hover, #facebook:hover, #apple:hover, .text-wrapper:hover {
  cursor: pointer;
}

.sign-up-page .rectangle-4 {
  position: absolute;
  width: 55px;
  height: 53px;
  top: 144px;
  left: 944px;
  background-color: #192c44;
  border-radius: 0px 20px 0px 25px;
}

.sign-up-page .line {
  position: absolute;
  width: 30px;
  height: 35px;
  top: 151px;
  left: 957px;
}

.sign-up-page .line-2 {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 152px;
  left: 957px;
}

.sign-up-page .text-wrapper-3 {
  position: absolute;
  top: 288px;
  left: 539px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #192c44;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up-page .already-have-an {
  position: absolute;
  width: 281px;
  top: 702px;
  left: 596px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #192c44;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up-page .text-wrapper-4 {
  position: absolute;
  top: 453px;
  left: 829px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #192c44;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up-page .text-wrapper-5 {
  position: absolute;
  top: 605px;
  left: 694px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #192c44;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up-page .text-wrapper-6 {
  position: absolute;
  top: 384px;
  left: 539px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #192c44;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up-page .line-3 {
  position: absolute;
  width: 435px;
  height: 2px;
  top: 339px;
  left: 535px;
  object-fit: cover;
}

.sign-up-page .line-4 {
  position: absolute;
  width: 445px;
  height: 2px;
  top: 436px;
  left: 535px;
  object-fit: cover;
}

.sign-up-page .vector {
  position: absolute;
  width: 28px;
  height: 22px;
  top: 304px;
  left: 919px;
}

.sign-up-page .vector-2 {
  position: absolute;
  width: 27px;
  height: 28px;
  top: 394px;
  left: 920px;
}

.sign-up-page .rectangle-5 {
  position: absolute;
  width: 453px;
  height: 65px;
  top: 515px;
  left: 532px;
  border-radius: 15px;
  background: linear-gradient(180deg, rgb(25, 44, 68) 0%, rgba(4.82, 60.81, 131.54, 0.5) 100%);
}

.sign-up-page .text-wrapper-7 {
  position: absolute;
  width: 161px;
  top: 526px;
  left: 688px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up-page .text-wrapper-8 {
  position: absolute;
  width: 88px;
  top: 66px;
  left: 73px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.sign-up-page .line-5 {
  position: absolute;
  width: 97px;
  height: 1px;
  top: 615px;
  left: 587px;
  object-fit: cover;
}

.sign-up-page .line-6 {
  position: absolute;
  width: 97px;
  height: 1px;
  top: 615px;
  left: 813px;
  object-fit: cover;
}

.sign-up-page .image-2 {
  width: 734px;
  height: 460px;
  top: 534px;
  left: 3px;
  position: absolute;
  object-fit: cover;
}
#Email, #password {
  padding:15px 155px 15px 4px;
  
}  
::placeholder,input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: #000000;
  background: linear-gradient(
    180deg,
    rgba(255, 253.09, 253.09, 0.07) 0%,
    rgba(255, 253.09, 253.09, 0.04) 12.12%,
    rgba(255, 253.09, 253.09, 0.05) 25.46%,
    rgba(255, 253.09, 253.09, 0.01) 48.82%,
    rgba(255, 253.09, 253.09, 0.03) 68.9%,
    rgba(255, 253.09, 253.09, 0) 82.71%,
    rgba(255, 253.09, 253.09, 0) 100%
  );
  border: none;
}
input {
  border-bottom: 2px solid #000000;
}
#google {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 638px;
  left: 620px;
}
#facebook {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 640px;
  left: 725px;
}
#apple {
  position: absolute;
  width: 45px;
  height: 40px;
  top: 635px;
  left: 820px;
}
